# Python envs
.env311/
env311/
env311/

# Python cache
__pycache__/
*.pyc

# Vector store / embeddings
vectorstore/
chroma/
faiss/
faiss_index/
*.faiss
*.bin
*.pkl

# Data you don't want deployed
data/*
!data/recipes.csv

# Git
.git/
.gitignore

# Local OS trash
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Build artifacts
*.egg-info
dist/
build/
